* {
    margin: 0;
    padding: 0;
}   
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000009d;
}

            /* Topo css */

            .toposecao1 {
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: rgb(15, 106, 122);

            }
            .topocontainer {
                display: flex;
                width: 1200px;
                height: 60px;
                align-items: center;
                justify-content: space-between;
            }
            .logo img{
                display: flex;
                width: 130px;
                height: 65px;
            }
            .topolinks {
                display: flex;
                width: 280px;
                justify-content: space-between;
            }
            .topolinks a{
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 18px;
                margin-right: 10px;
                text-shadow: 2px 2px  #000;
            }
            .topolinks a:hover {
                /* color: #000 */
                color: rgb(63, 255, 197);
            }

           
                /* Links */

        
        .links {
            display:flex;
            justify-content: center;
            height: 70px;
            align-items: center;
            /* background-color: red; */
            gap: 25px;
        }
        .links a{
            
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid rgb(15, 106, 122);
            font-size: 18px;
            padding-bottom: 2px;
        }
        .links a:hover {
            color: rgb(63, 255, 197);
        }

        .topotitulo {
            text-align: center;
            margin: 30px 0px -50px 0px;
            font-size: 28px;    
        }    

                /* Mini container 1 */

                .mc{
                    width: 100%;
                    padding: 20px 0px 15px;
                    display: flex;
                    justify-content: center;
                    /* background-color: red; */
                    /* margin-bottom: 50px; */
                    margin-top: 60px;
                }
                .mini {
                    display: flex;
                    flex-direction: column;
                    width: 500px;
                    height: 100px;
                    text-align: center;
                    justify-content: space-around;
                    /* background-color: aqua; */
                    
                }


                    /* ortipedia */


           .ortopedia, .pediatra, .geriatra, .psicologo, .fisioterapeuta {
            display: flex;
            width: 1200px;
           /*  background-color: red; */
           justify-content: center;
            
           }      
           .ortopedia img, .pediatra img, .geriatra img, .psicologo img, .fisioterapeuta img{
            width: 30%;
           }
           .lista1, .lista2, .lista3, .lista4, .lista5 {
            display: flex;
            justify-content: center;
           }

           th{
            padding: 5px 150px 5px 10px;
           }
           thead{
            background-color: rgb(15, 106, 122);
            color: #fff;
           }
            tbody tr:nth-of-type(2n+1) {
            background-color: #353535a4;
            color: #fff;
           }
           tbody tr:nth-of-type(2n) {
            background-color: #7979799d;
            color: #fff;
           }

         

        /* Rodape */

        .rodape {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(12, 86, 99);
            padding-top: 15px;
            box-shadow: 0px 0px 10px #000;
            margin-top: 100px;
        }

        .rodapetexto {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #fff;
            text-shadow: 1.4px 1.2px #000;
            padding-bottom: 30px;
        }
        .rodape img{
            width: 130px;
            height: 75px;
        }
        .rodapetexto p{
            margin: 10px;
        }

        @media (max-width: 440px) {
            .topocontainer {
                flex-direction: column;
                height: 100px;
            }
            .topolinks {
                margin-bottom: 10px;
            }
            .banner {
                height: 300px;
            }
        }
            @media (max-width: 940px) {
                .ortopedia img, .pediatra img, .geriatra img, .psicologo img, .fisioterapeuta img {
                    display: none; 
                }
                th, td {
                    padding: 20px;
                    text-align: left;
                }
            }

            @media (max-width: 515px) {
                .topocontainer {
                    flex-direction: column;
                }
                .toposecao1 {
                    height: 100px;
                    margin-bottom: 35px;
                }
                .links {
                    display: flex;
                    flex-wrap: wrap;
                }
                h2, p {
                    font-size: 90%;
                }
               th, td {
                padding: 3%;
               }
            }
            @media (max-width: 392px) {
                th, td {
                    padding: 1%;
                   }
                   .mc {
                    padding: 50px 0px 20px;
                   }
            }
        